<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab6c0d0e2c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><p>CartCane</p></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Register</a></li>
                        <li><a href="/home">Home</a></li>
                        <li><a class="category" onClick="show()">Category</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/support">Support</a></li>
                    </ul>
                </nav>
               <% if (locals.profile) {%>
                    <div class="user-container" onclick="profileShow()">
                        <div class="user-profile">
                            <img src="/images/avatar.png" alt="profile_img">
                        </div>
                        <div class="user-dropdown" id="userDropdown">
                            <img src="/images/avatar.png" alt="profile_img">
                            <h2>Hi, <%locals.name%></h2>
                            <p>Manage your Account</p>
                            <div class="logout">
                                <a class="lick" href="/settings">Settings</a>
                                <a class="lick" href="#" onclick="logout()">Logout</a>
                            </div>
                        </div>
                    </div>
                <% } else {%>
                    <div class="user-login">
                        <a href="/login">Log in</a>
                        <a href="/sign-up">Sign up</a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="category_list hide">
        <ol class="cat_list">
            <li><a href="#">Personal Care</a></li>
            <li><a href="#">Household Tasks</a></li>
            <li><a href="#">Work & Career</a></li>
            <li><a href="#">Education and Learning</a></li>
            <li><a href="#">Social & Relationships</a></li>
            <li><a href="#">Leisure & Entertainment</a></li>
            <li><a href="#">Health & Fitness</a></li>
            <li><a href="#">Travel & Commuting</a></li>
            <li><a href="#">Community & Social Service</a></li>
        </ol>
    </div>
    <script>
        function show(){
            document.querySelector(".category_list").classList.toggle("hide");
        }

        function profileShow(){
            document.getElementById("userDropdown").classList.toggle("show");
        }
    </script>
</body>
</html>
