@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box; outline: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.xyzc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.6rem;
}

.client-view{
    display: flex;
    align-items: center;
}
.xyzc .logo{
    font-family: "Playwrite IN", serif;
    font-weight: 800;
    margin-right: 10rem;
}
.xyzc a{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}

.menu a{
    cursor: pointer;
    margin-left: 3.6rem;
    font-size: 2rem;
    font-weight: 600;
}
.menu a:hover{
    text-decoration: underline;
}

.xyzc .auth_sec a{
    background: crimson;
    padding: 1.1rem 1.6rem;
    margin-left: 1.6rem;
    color: white;
    font-weight: 500;
    border-radius: 1rem;
    font-size: 1.6rem;
}

/* front-container */
.front-container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.front-container .main-content{
    text-align: center;
}
.content span{
    text-transform: uppercase;
    text-decoration: underline;
}
.content h1{
    font-size: 3rem;
    margin-top: 1rem;
}
.content h2{
    font-size: 2.2rem;
    margin-top: 1rem;
}
.search{
    margin-top: 2rem;
}
.search input{
    width: 56rem;
    
    font-size: 2.6rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    border: 1px solid #ccc;
    padding: 1.6rem 2.6rem;
}
.search button{
    background-color: #333;
    color: #fff;
    font-size: 2.2rem;
    padding: 1.6rem 2.6rem;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    border: 1px solid #333;
    cursor: pointer;
}
/* front-container ends */

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-profile img{
    height: 4rem;
    border-radius: 50%;
}

.user-container {
    position: relative;
    display: inline-block;
}

.user-dropdown {
    position: absolute;
    top: 50px; /* Adjust position below the icon */
    right: 0;
    padding: 5rem 2rem;
    background-color: #C4D9FF;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 35rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
}

.user-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.user-dropdown a:hover {
    background-color: #f1f1f1;
}

.user-dropdown img{
    height: 10rem;
    border-radius: 50%;
}

.user-dropdown .pqrs{
    border: .1rem solid #333;
    border-radius: 5rem;
    padding: 1rem 7rem;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}
.user-dropdown p:hover{
    background-color: #E0F4FF;
}

.user-dropdown .logout{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: .2rem;
}

.lick-1{
    background-color: #fff;
    width: 55rem;
    text-align: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.lick-2{
    background-color: #fff;
    width: 55rem;
    text-align: center;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.show{
    display: block;
}

.hide{
    display: none;
}