@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

html{font-size: 62.5%;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

.header{ width: 100%; background-color: black;}
.header .container{text-align: center; width: 85%; margin: 0 auto;}
.header .container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    color: white;
}
.header .container .navbar .logo{
    font-weight: 800;
    font-size: 2.4rem;
}

.header .container .navbar .logo p{
    color: white;
    font-family: "Playwrite IN", serif;
}

.header .container .navbar .user-login a{
    background: crimson;
    padding: .8rem 1.5rem;
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    border-radius: 5rem;
}

.navbar nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
}
.navbar nav ul li{list-style: none;}

/* client-page */
.client-page{
    width: 85%;
    margin: 0 auto;
}
.client-page h2{
    font-size: 2.4rem;
    margin-top: 2rem;
}

.client-page .post{
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: .5rem 2rem;
    margin: 20px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.client-page p{
    font-size: 1.6rem;
    margin-top: 1rem;
}

/* login-page */

.login-layout{
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 35%;
    margin: 0 auto;
    /* align-items: ; */
    justify-content: center;
}
.login-layout form{
    display: flex;
    flex-direction: column;
}
.input-container{
    position: relative;
    margin-bottom: 2rem;
}
.input-container input{
    width: 100%;
    padding: 1rem;
    border: .2rem solid #ccc;
    border-radius: .5rem;
    font-size: 1.6rem;
    outline: none;
}
.input-container label{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 .5rem;
    color: grey;
    transition: 0.3s;
    pointer-events: none;
}
.input-container input:focus + label,
.input-container input:valid + label {
    top: 0;
    font-size: 0.8rem;
    color: #000;
}
.pass-store label,
.login-layout p,
.login-layout a{
    font-size: 1.6rem;
}